<div class="footer-wrap">
    <nav class="navbar navbar-fixed-bottom col-lg-12" role="navigation">
        <ul class="nav navbar-nav navbar-right top-r">
            <li><a class="btn-footer" href="/#">FAQ</a></li>
            <li><a class="btn-footer" href="/#">Документация</a></li>
            <li><a class="btn-footer" href="/#">Обратная связь</a></li>
        </ul>
    </nav>
</div>
