<div class="nav-wrap">
    <nav class="navbar navbar-default top col-lg-12" role="navigation">
        <ul class="nav navbar-nav">
            <li><a class="logo-wrap" href="/"><img src="images/logo.png"></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right top-r">
            <li><a class="btn-exit" href="/#">Выход</a></li>
        </ul>
    </nav>
</div>
