html {
    height: 100%;

    overflow: hidden;
}
body {
    padding: 0;
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.content-wrap{
    width:100%;
    height:100%;


}
.nav-wrap {

  background-color: #000064;
}
.top {
    background: inherit;
    border: 0;
    margin-bottom:0;
}
a.logo-wrap {

}
.logo-wrap img {
  height: 30px;
}
.navbar-default .navbar-nav.top-r > li > a.btn.sign {
  width:130px;
  height: 60px;
  background-color: #cc3333;
  color:white;
  font-size:33px;
}
.navbar-default .navbar-nav.top-r > li > a.btn.sign.in{
    background-color: #00a800;
}
.navbar-default .navbar-nav.top-r > li > a.btn.sign:hover {
    text-decoration: underline;
    background-color: #5a1616;
}
.navbar-default .navbar-nav.top-r > li > a.btn.sign.in:hover {
    text-decoration: underline;
    background-color: #006300;
}
.top-r a.btn.sign:active {
  color: white;
}
a.btn.sign:visited {
  color: white;
}

.footer-wrap {
    background-color: #00031f;
    position: absolute;
    bottom:0;
    height:50px;
    width:100%;
}
a.btn-footer{
    color: white;
}
a.btn-footer:hover{
    color: #000;
    text-decoration: underline;
}
.nav-left{
    text-align: left;
    height:100%;
    background-color: #f7f7f7;
}
.nav-left h4{
    margin-top:20%;
    margin-bottom:20%;
    font-size:17px;
    padding-left:12px;
    color: #393c58;
}
.nav-left .nav-btns-wrap{
    padding-left:0;
}
.nav-left .nav-btns-wrap li{
    text-align: left;
    font-size:14px;
   //font-style:;
    border-radius: 50px;
}

.nav-left .nav-btns-wrap .active,
.nav-left .nav-btns-wrap li:hover{
    background-color: #d1cbcb;
    color: white;
}

/* Вкладки конструкотра */
/* Базовый контейнер табов */
.rule-constructor-form {
    margin-top:20px;
}
.tabs {
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}
.tabs>section>p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
    /* прикрутим анимацию */
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* Прячем чекбоксы */
.tabs>input {
    display: none;
    position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 0px solid #ddd;
    border-width: 1px 1px 1px 1px;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
    font-weight: normal;
    margin-right: 10px;
}
.tabs>label[for*="1"]:before {
    content: "\f19a";
}
.tabs>label[for*="2"]:before {
    content: "\f17a";
}
.tabs>label[for*="3"]:before {
    content: "\f13b";
}
.tabs>label[for*="4"]:before {
    content: "\f13c";
}
/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
    color: #888;
    cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
    color: #555;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
    display: block;
}
/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
    .tabs>label {
        font-size: 0;
    }
    .tabs>label:before {
        margin: 0;
        font-size: 18px;
    }
}
/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
    .tabs>label {
        padding: 15px;
    }
}